#img-bg{
    background-image: url('https://th.bing.com/th/id/OIP.rpl09TmnaY13wzkb1zu6zwHaHK?pid=ImgDet&rs=1');
    min-height: 625px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}